Repository NOW-SOPT-CDSP-8/Spotify-FE, pull requests merged in 2024-05, with the labels that each got.

#2 [초기세팅] 폴더구조 세팅
  index.html
  src/App.css
  src/App.tsx
  src/apis/index.ts
  src/assets/index.ts
  src/assets/react.svg
  src/components/@common/index.ts
  src/components/categoryPage/index.ts
  src/components/homePage/index.ts
  src/components/mypage/index.ts
  src/components/playlistPage/index.ts
  src/constants/index.ts
  src/hooks/@common/index.ts
  src/hooks/queries/index.ts
  src/index.css
  src/main.tsx
  src/pages/categoryPage/index.ts
  src/pages/homePage/index.ts
  src/pages/mypage/index.ts
  src/pages/playlistPage/index.ts
  src/styles/index.ts
  src/types/index.ts
  src/utils/index.ts
Labels: chore

#7 [초기세팅] ESLint, Prettier 설정
  .prettierrc
  README.md
  now-sopt-cdsp-8.png
  package.json
  yarn.lock
Labels: chore

#11 [초기세팅] 라이브러리 설치 & 리액트 쿼리 provider 세팅 & svgr 세팅
  package.json
  src/App.tsx
  src/assets/custom.d.ts
  tsconfig.json
  vite.config.ts
  yarn.lock
Labels: chore

#12 [초기세팅] axios instance 추가 및 라우터 처리
  .gitignore
  src/App.tsx
  src/apis/client.ts
  src/apis/index.ts
  src/pages/categoryPage/CategoryPage.tsx
  src/pages/categoryPage/index.ts
  src/pages/homePage/HomePage.tsx
  src/pages/homePage/index.ts
  src/pages/mypage/Mypage.tsx
  src/pages/mypage/index.ts
  src/pages/playlistPage/PlaylistPage.tsx
  src/pages/playlistPage/index.ts
  src/router/Router.tsx
  src/router/route.ts
  yarn.lock
Labels: chore, feat

#13 [초기세팅] 모바일 화면 세팅
  index.html
  src/layouts/Layout.tsx
  src/router/Router.tsx
  src/utils/useMobile.ts
Labels: chore, feat

#18 [ 초기세팅] 전체 svg 파일 위치 이동
  public/svg/ic_arrow.svg
  public/svg/ic_back.svg
  public/svg/ic_cardbox.svg
  public/svg/ic_close.svg
  public/svg/ic_diamondbox.svg
  public/svg/ic_editbox.svg
  public/svg/ic_go.svg
  public/svg/ic_info.svg
  public/svg/ic_like.svg
  public/svg/ic_location.svg
  public/svg/ic_logo2.svg
  public/svg/ic_logobox.svg
  public/svg/ic_logopink.svg
  public/svg/ic_menu.svg
  public/svg/ic_menu2.svg
  public/svg/ic_menu_vertical.svg
  public/svg/ic_option.svg
  public/svg/ic_orderbox.svg
  public/svg/ic_play.svg
  public/svg/ic_profile.svg
  public/svg/ic_restorebox.svg
  public/svg/ic_search.svg
  public/svg/ic_share.svg
  public/svg/ic_ticket.svg
  public/svg/ic_usebox.svg
  public/vite.svg
  src/assets/svg/IcArrow.tsx
  src/assets/svg/IcBack.tsx
  src/assets/svg/IcCardbox.tsx
  src/assets/svg/IcClose.tsx
  src/assets/svg/IcDiamondbox.tsx
  src/assets/svg/IcEditbox.tsx
  src/assets/svg/IcGo.tsx
  src/assets/svg/IcInfo.tsx
  src/assets/svg/IcLike.tsx
  src/assets/svg/IcLocation.tsx
  src/assets/svg/IcLogo2.tsx
  src/assets/svg/IcLogobox.tsx
  src/assets/svg/IcLogopink.tsx
  src/assets/svg/IcMenu.tsx
  src/assets/svg/IcMenu2.tsx
  src/assets/svg/IcMenuVertical.tsx
  src/assets/svg/IcOption.tsx
  src/assets/svg/IcOrderbox.tsx
  src/assets/svg/IcPlay.tsx
  src/assets/svg/IcProfile.tsx
  src/assets/svg/IcRestorebox.tsx
  src/assets/svg/IcSearch.tsx
  src/assets/svg/IcShare.tsx
  src/assets/svg/IcTicket.tsx
  src/assets/svg/IcUsebox.tsx
  src/assets/svg/index.ts
Labels: chore

#15 [ style] 공통 컴포넌트 (필터링 버튼) 구현 & font-weight 숫자로 수정
  src/components/@common/FilterButton.tsx
  src/main.tsx
  src/styles/index.ts
  src/styles/index.tsx
  src/styles/theme.ts
Labels: common, Category

#19 [style] 헤더 UI만 구현 (합성컴포넌트)
  public/svg/ic_logo_single.svg
  src/assets/svg/IcLogoSingle.tsx
  src/assets/svg/index.ts
  src/components/@common/button/AppOpenBtn.tsx
  src/components/@common/header/Header.tsx
  src/components/@common/header/HeaderWrapper.tsx
  src/layouts/Layout.tsx
  src/pages/homePage/HomePage.tsx
Labels: common, style

#27 [style] 전체를 감싸는 wrapper 높이 값 고정 및 배경색 지정
  src/layouts/Layout.tsx
Labels: style

#28 [style] 플레이리스트 아이템 (공통컴포넌트) 구현
  .eslintrc.cjs
  src/assets/png/MusicCardImg.png
  src/components/@common/PlayListItem.tsx
Labels: common, style

#25 [style] 공통컴포넌트 - 플레이리스트 카드 퍼블리싱
  src/components/@common/card/PlaylistCard.tsx
  src/components/@common/card/PlaylistCardList.tsx
  src/fonts/fonts.css
  src/pages/categoryPage/CategoryPage.tsx
  src/pages/playlistPage/PlaylistPage.tsx
Labels: common, style

#32 [style] 플리카드 리스트 여백 제거
  src/components/@common/card/PlaylistCardList.tsx
Labels: common, style

#29 [Style] 메뉴바 구현
  public/svg/ic_underbar.svg
  src/assets/svg/IcUnderbar.tsx
  src/assets/svg/index.ts
  src/components/@common/header/Header.tsx
  src/components/@common/menu/Menu.tsx
  src/hooks/menu/useMenuOpen.ts
Labels: style

#33 [Style] 홈페이지(메인페이지) ui 구현
  public/svg/ic_artist1.svg
  public/svg/ic_artist2.svg
  public/svg/ic_artist3.svg
  public/svg/ic_artist4.svg
  public/svg/ic_hiphop_card.svg
  public/svg/ic_pop_card.svg
  public/svg/ic_subscribe.svg
  src/assets/svg/IcArtist1.tsx
  src/assets/svg/IcArtist2.tsx
  src/assets/svg/IcArtist3.tsx
  src/assets/svg/IcArtist4.tsx
  src/assets/svg/IcHiphopCard.tsx
  src/assets/svg/IcPopCard.tsx
  src/assets/svg/IcSubscribe.tsx
  src/assets/svg/index.ts
  src/components/homePage/ArtistSection.tsx
  src/components/homePage/ExploreSection.tsx
  src/components/homePage/HouseMusicSection.tsx
  src/components/homePage/RecommendGenre.tsx
  src/components/homePage/RecommendStation.tsx
  src/components/homePage/SimilarArtist.tsx
  src/components/homePage/Subscribe.tsx
  src/components/homePage/index.ts
  src/mocks/mockData.ts
  src/pages/homePage/HomePage.tsx
  src/styles/Globalstyle.ts
  src/styles/theme.ts
Labels: style, Home

#36 [style] 플레이리스트 UI 구현
  public/svg/ic_logo.svg
  src/assets/png/PlayListCard.png
  src/assets/svg/IcLogo.tsx
  src/assets/svg/IcPlay.tsx
  src/assets/svg/index.ts
  src/components/@common/PlayListItem.tsx
  src/components/playlistPage/InfoComponent.tsx
  src/components/playlistPage/LikeComponent.tsx
  src/components/playlistPage/LogoComponent.tsx
  src/components/playlistPage/MenuComponent.tsx
  src/components/playlistPage/MusicListComponent.tsx
  src/components/playlistPage/PlayComponent.tsx
  src/components/playlistPage/index.ts
  src/constants/songs.ts
  src/pages/playlistPage/PlaylistPage.tsx
  src/styles/mixin.ts
Labels: refactor, style, Playlist

#38 [style] 카테고리 페이지 UI 구현
  public/svg/Ic_categoryheader.svg
  src/assets/svg/IcCategoryheader.tsx
  src/assets/svg/index.ts
  src/components/categoryPage/CategoryFilter.tsx
  src/components/categoryPage/CategoryHeader.tsx
  src/components/categoryPage/CategoryRank.tsx
  src/components/categoryPage/CategoryTitle.tsx
  src/components/categoryPage/index.ts
  src/constants/categoryFilter.ts
  src/pages/categoryPage/CategoryPage.tsx
  src/styles/Globalstyle.ts
Labels: style, Category

#40 [chore] font설정 변경
  src/styles/theme.ts
Labels: chore

#42 [style] 마이페이지 UI 구현
  public/svg/Ellipse 58.svg
  public/svg/ic_flatrate.svg
  public/svg/ic_name.svg
  public/svg/ic_payment.svg
  src/assets/png/CardImg.png
  src/assets/svg/Ellipse58.tsx
  src/assets/svg/IcFlatrate.tsx
  src/assets/svg/IcName.tsx
  src/assets/svg/IcPayment.tsx
  src/assets/svg/index.ts
  src/components/mypage/InfoButton.tsx
  src/components/mypage/Subscribe.tsx
  src/components/mypage/SubscribeCardInfo.tsx
  src/components/mypage/SubscribeInfo.tsx
  src/components/mypage/index.ts
  src/pages/mypage/Mypage.tsx
Labels: style, Mypage

#47 [ feat] github action 자동 배포 yml 파일 추가
  .github/workflows/vercelDeploy.yml
  vercel.json
Labels: chore, feat

#50 [Feat] 홈페이지 api 연결
  src/apis/client.ts
  src/apis/music.ts
  src/components/@common/card/PlaylistCard.tsx
  src/components/@common/card/PlaylistCardList.tsx
  src/components/@common/loading/Loading.tsx
  src/components/homePage/RecommendStation.tsx
  src/hooks/queries/music.ts
  src/types/music/client.ts
Labels: API, common, Home

#52 [Feat] header & homePage navigate
  src/components/@common/header/Header.tsx
  src/components/homePage/RecommendGenre.tsx
Labels: common, feat, Home

#56 [feat] 플레이리스트 API 연동
  src/apis/playList.ts
  src/components/playlistPage/MusicListComponent.tsx
  src/hooks/queries/useMusicInfiniteQuery.tsx
  src/pages/playlistPage/PlaylistPage.tsx
Labels: API, feat, Playlist

#49 [feat] 마이페이지 API 연결
  package.json
  public/svg/IcCardSampleImg.svg
  src/apis/profile.tsx
  src/assets/svg/IcCardSampleImg.tsx
  src/assets/svg/index.ts
  src/components/mypage/Subscribe.tsx
  src/components/mypage/SubscribeCardInfo.tsx
  src/hooks/queries/profile.tsx
  yarn.lock
Labels: API, feat, Mypage

#55 [Feat] PlaylistCardList 공통 컴포넌트 재설계 실패로 mockData 작업 진행
  src/apis/music.ts
  src/components/@common/card/PlaylistCardList.tsx
  src/components/@common/card/PlaylistCardListWithDescription.tsx
  src/components/@common/card/PlaylistCardListWithDescriptionList.tsx
  src/hooks/queries/music.ts
  src/mocks/mockData.ts
  src/pages/categoryPage/CategoryPage.tsx
  src/types/music/client.ts
Labels: common

#54 [feat] 좋아요 post delete 구현
  src/components/playlistPage/LikeComponent.tsx
  src/components/playlistPage/MenuComponent.tsx
  src/hooks/menu/useMenuMutation.ts
  src/hooks/menu/useMenuOpen.ts
  yarn.lock
Labels: API, feat, Playlist

#59 [feat] 필터링 음악 get
  src/components/@common/PlayListItem.tsx
  src/components/@common/card/PlaylistCardListWithDescriptionList.tsx
  src/components/categoryPage/CategoryFilter.tsx
  src/components/categoryPage/CategoryRank.tsx
  src/constants/categoryFilter.ts
  src/hooks/queries/music.ts
  src/mocks/mockData.ts
  src/pages/categoryPage/CategoryPage.tsx
Labels: API, feat, Category

#61 [Feat] 좋아요 클릭 시 하트 색상 변경
  public/svg/ic_click_heart.svg
  src/assets/svg/IcClickHeart.tsx
  src/assets/svg/index.ts
  src/components/playlistPage/LikeComponent.tsx
Labels: feat, Playlist

#65 [refactor] 타입 지정 및 코드 정리
  src/apis/playList.ts
  src/apis/profile.tsx
  src/components/@common/PlayListItem.tsx
  src/components/mypage/InfoButton.tsx
  src/components/mypage/Subscribe.tsx
  src/components/mypage/SubscribeCardInfo.tsx
  src/components/playlistPage/MusicListComponent.tsx
  src/hooks/queries/profile.tsx
  src/types/music/client.ts
Labels: refactor

#70 [refactor] 스크롤 기능 개선 및 타입 지정
  src/components/@common/PlayListItem.tsx
  src/components/playlistPage/MusicListComponent.tsx
  src/hooks/queries/useMusicInfiniteQuery.tsx
Labels: refactor, Playlist

#74 [hotfix] 플레이리스트 UI 내 이미지 png to svg
  public/svg/ic_playListItem_img.svg
  public/svg/ic_playList_img.svg
  src/assets/svg/IcPlayListImg.tsx
  src/assets/svg/IcPlayListItemImg.tsx
  src/assets/svg/index.ts
  src/components/@common/PlayListItem.tsx
  src/pages/playlistPage/PlaylistPage.tsx
Labels: Playlist, hotfix

#73 [Style] 홈페이지 헤더 margin-left 수정 및 하우스 섹션 props 올바르게 전달
  src/components/homePage/HouseMusicSection.tsx
  src/pages/homePage/HomePage.tsx
Labels: style, Home

#76 [fix] 좋아요 요청 로직 변경
  src/components/playlistPage/LikeComponent.tsx
  src/components/playlistPage/MenuComponent.tsx
Labels: hotfix

#79 [fix] 플레이리스트 이미지 크기 및 위치 수정
  src/pages/playlistPage/PlaylistPage.tsx
Labels: style, Playlist, hotfix
